# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
env/
venv/
ENV/

# VS Code
.vscode/

# Databases
instance/
*.sqlite3
*.db

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Livereload
livereload.log
