{% extends "base.html" %}

{% block head %}
<title>Welcome</title>
{% endblock %}

{% block body %}
<div class="index-main">
    <div class="quiz-section">
        {% if current_user.is_authenticated %}
            <h2 class="quiz-title">Welcome to My Project, {{ current_user.username | upper}}</h2>
        {% else %}
            <h2 class="quiz-title">Welcome to My Project</h2>
        {% endif %}
        <div class="centered-content">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('auth.profile') }}" class="quiz-btn">Go to your Profile</a>
            {% else %}
                <div class="auth-buttons">
                    <a href="{{ url_for('auth.login') }}" class="quiz-btn">Login</a>
                    <a href="{{ url_for('auth.signup') }}" class="quiz-btn" style="background-color: #666;">Register</a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="quiz-section">
        <h2 class="quiz-title">Available Quizzes</h2>
        <div class="quiz-grid">
            {% for quiz in quizzes %}
                <div class="quiz-card">
                    <h3>{{ quiz.name }}</h3>
                    <p class="quiz-info">Created by {{ quiz.creator.username if quiz.creator else 'Admin' }}</p>
                    <a class="quiz-btn" href="{{ url_for('quiz.quiz_detail', quiz_id=quiz.id) }}">Start Quiz</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
